{% load staticfiles sekizai_tags %}
<script src="http://www.chartjs.org/assets/Chart.js"></script>
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Estadisticas</title>
</head>
<body>
<div class="container">
  <canvas id="myChart" width="800px" height="600px"></canvas>
</div>
</body>
<script type="text/javascript">
	var ctx = document.getElementById("myChart").getContext("2d");
	var data = {
		labels : [""],
		datasets : [
			{% for d in data %}
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,1)",
				data : [parseFloat("{{d}}")]
			},
			{% endfor %}
		]
	};
	var myNewChart = new Chart(ctx).Bar(data);
</script>
</html>